* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html,
body {
  background: linear-gradient(0deg, rgba(23, 26, 33, 1) 70%, rgba(23, 26, 33, 0.67) 100%);
  color: #ffffff;
  height: 100vh;
}
