.login-wrapper {
  background: linear-gradient(0deg, rgba(23, 26, 33, 1) 70%, rgba(23, 26, 33, 0.67) 100%);
}

.login-main {
  // background-image: url('../../assets/login_edge.png');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.login-top {
  height: 25%;
  & h2 {
    font-size: 2.5em;
    padding-top: 20%;
    padding-left: 1em;
    font-family: serif;
    margin-top: 0;
  }
}

.login-bottom {
  height: 65%;
}

.login-email {
  margin-bottom: 2em;
}

.login-email > label,
.login-password > label {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 0.3em;
  color: grey;
}

.login-email > input,
.login-password > input {
  padding: 1em 0.5em;
  background-color: transparent;
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 1.1em;
  color: darkgray;
  border-radius: 7px;
}

.login-botton {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  padding: 0.6em;
  font-size: 1.4em;
  font-family: serif;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

.login-redirect {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #1a2a3c;
  margin-top: 4em;
  padding: 1em;
  & a {
    color: floralwhite;
    font-weight: 600;
    text-decoration: none;
  }
}

.login-error {
  text-align: center;
  color: red;
  font-size: 1.1em;
}
